.venv/
.renderings/
models/
runs/
results/
model_test.zip
wandb/
old_results/
venv/
renderings/
figures/

# Python cache files
__pycache__/
*.pyc

# W&B logs
wandb/git add .gitignore
git commit -m "Add .gitignore for cache and log files"